# Standard Unity ignores
.utmp/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
*.log
*[Mm]emoryCaptures/
*[Rr]ecordings/
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.opendb
*.VC.db
*.pidb.meta
sysinfo.txt
mono_crash.*
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app
crashlytics-build.properties

/[Aa]ssets/StreamingAssets/aa*
/[Aa]ssets/AddressableAssetsData/*/*.bin*
/[Aa]ssets/Unity.VisualScripting.Generated/**

# Ignore Azure Kinect binaries
Assets/Plugins/
Assets/Plugins.meta
Assets/Plugins/**
